{% extends 'base.html' %}

{% block content %}

<div class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column">
        <section class="hero is-light">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  hello!
                </h1>
                <h2 class="subtitle">
                  here are the most recent tweets from all tweety users
                </h2>
              </div>
            </div>
        </section>
        </br>
        {% for tweet in tweets %}
        <div class="box">
            <article class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <div class="entry">
                      <p>
                        <strong>{{ tweet.get_name }}</strong> <a href="{% url 'profile' tweet.get_username %}">@{{ tweet.get_username }}</a> <small>{{ tweet.time }}</small>
                        <br>
                        {{ tweet.body|safe}}
                      </p>
                    </div>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      {% if tweet.already_liked %}
                        <a style="color: coral" class="level-item">
                          <span class="icon is-small"><i class="fas fa-heart"></i></span>
                        </a>
                        <form method="POST" action="/like_clicked/">
                          {% csrf_token %}
                            <div class="buttons">
                              <button type="submit" name='dislike' value='{{ tweet.id }}' class="button is-small is-primary">dislike</button>
                            </div>
                        </form>
                      {% elif not tweet.already_liked %}
                      <form method="POST" action="/like_clicked/">
                        {% csrf_token %}
                          <div class="buttons">
                            <button type="submit" name='like' value='{{ tweet.id }}' class="button is-small is-primary">like</button>
                          </div>
                      </form>
                      {% endif %}
                    </div>
                  </nav>
                </div>
            </article>
        </div> 
        {% endfor %}

    </div>
    <div class="column is-one-quarter"></div>
</div>

{% endblock %}