{% extends 'base.html' %}

{% block content %}

<div class="columns">
    <div class="column is-one-third"></div>
    <div class="column">
        <section class="hero is-light">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                    Twitter Neo Login
                </h1>
                <h2 class="subtitle">
                    Enter your credentials
                </h2>
              </div>
            </div>
        </section>
        </br>
        <form method="POST" action="/request_login/">
            {% csrf_token %}
            <div class="box">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                      <input name="username" class="input" type="text" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                    <input name="password" class="input" type="Password" placeholder="Password">
                    </div>
                </div>  
                <div class="buttons has-addons is-centered">
                    <input type="submit" value="login" class="button is-primary"></input>
                </div>
            </div>
        </form>
    </div>
    <div class="column is-one-third"></div>
</div>

{% endblock %}