{% extends 'base.html' %}

{% block content %}

<div class="columns">
    <div class="column is-one-third"></div>
    <div class="column">
        <h1 class="title">don't have an account?</h1>
        <h2 class="subtitle">no worries. it's easy to get started with Twitter Neo</h2>
        </br>

        <div class="box">
            <form method="POST" action="/register_view/">
                {% csrf_token %}
                <div class="field">
                    <label class="label">full name</label>
                    <div class="control">
                      <input name="name" class="input" placeholder="eg. carol li">
                    </div>
                </div>
                  
                <div class="field">
                    <label class="label">username</label>
                    <div class="control has-icons-left has-icons-right">
                      <input name="username" class="input" placeholder="eg. saltyfugu">
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                </div>
                  
                <div class="field">
                    <label class="label">email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input name="email" class="input" placeholder="eg. saltyfugu@tweet.io">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">password</label>
                    <div class="control">
                      <input name="password" class="input" type="password">
                    </div>
                </div>
                  
                <div class="field">
                    <label class="label">location</label>
                    <div class="control">
                        <input name="location" class="input" placeholder="eg. vancouver!">
                      </div>
                </div>
                  
                <div class="field">
                    <label class="label">bio</label>
                    <div class="control">
                      <textarea name="bio" class="textarea" placeholder="eg. i like to drink coffee!"></textarea>
                    </div>
                </div>
                  
                <div class="buttons has-addons is-centered">
                    <input type="submit" value="register" class="button is-primary"></input>
                    <a href="/"class="button">
                        cancel
                    </a>
                </div>
            </form>
        </div>

    </div>
    <div class="column is-one-third"></div>
</div>

{% endblock %}